/classes/
/.classpath
/.project
/lib/
/logs/
*.jar
*.class
/target/
*.bbl
*.blg
*.lof
*.log
*.pdf
*.toc
*.aux
*.gz
*.tar
*.bcf
*.idx
*.loe
*.run.xml
*.nlo
*.out
*.glg
*.glo
*.gls
*.ilg
*.ind
*.xdy
*.ist
*synctex*
*.pl*
*.mw
/.externalToolBuilders/
/.settings/
/.README.md.html
/data/
/java_pid5048.hprof
/AST.txt
/.idea/